<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encyclopédie
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encyclopédie</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group>
    <plant-list-item *ngFor="let plant of this.getPlants()" [plant]="plant"></plant-list-item>
  </ion-item-group>
</ion-content>
