<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encyclopédie
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encyclopédie</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="this.clickedSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="Chercher une plante"></ion-searchbar>
    </ion-toolbar>
    <ion-segment  [(ngModel)]="this.chosenView" value="all">
      <ion-segment-button value="all">
        Voir toutes
      </ion-segment-button>
      <ion-segment-button value="myplants">
        Mes plantes
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favoris
     </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="this.chosenView" id="plant-book">
    <ion-item-group *ngSwitchCase="'all'" >
      <plant-list-item *ngFor="let plant of this.getPlants()" [plant]="plant" ></plant-list-item>
    </ion-item-group>
    <ion-item-group *ngSwitchCase="'myplants'">
      <plant-list-item *ngFor="let plant of this.getUserRegisteredPlants()" [plant]="plant" [hideFavoriteButton]="true"></plant-list-item>
      <div *ngIf="this.getUserRegisteredPlants().length === 0">
        <p class="plant-book__default-message">Vous n'avez pas de plante enregistrée ! <br> Commencez à enregistrer vos plantes en swipant une plante vers la droite ! Puis cliquez sur le bouton d'ajout ;) 
      </div>
    </ion-item-group>
    <ion-item-group  *ngSwitchCase="'favorites'">
      <plant-list-item *ngFor="let plant of this.getUserFavoritePlants()" [plant]="plant"></plant-list-item>
      <div *ngIf="this.getUserFavoritePlants().length === 0">
        <p class="plant-book__default-message">Vous n'avez pas de plante dans vos favoris ! <br> Commencez à ajouter des favoris en swipant une plante vers la gauche ! Puis cliquez sur le bouton d'ajout ;)  </p>
      </div>
    </ion-item-group>
    <ion-item-group  *ngSwitchDefault>
      <plant-list-item *ngFor="let plant of this.getPlants()" [plant]="plant"></plant-list-item>
    </ion-item-group>

  </div>  
  
</ion-content>
