<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Planning d'arrosage
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Planning d'arrosage</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="openMenu()" expand="block" fill="clear" shape="round">
    open left Menu
  </ion-button>
  <ion-button (click)="toggleMenu()" expand="block" fill="clear" shape="round">
    Toggle right menu
  </ion-button>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
