<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mes plantes
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Mes plantes</h1>

  <ion-card *ngFor="let plant of registeredPlants">
    <ion-img [src]="plant.photoUrl"></ion-img>
    <ion-card-header>
      
      <ion-card-title>{{plant.name}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
