ion-card{
    ion-card-header{
        background: rgba(var(--ion-color-primary-contrast-rgb),.5);
    }
    ion-img{
        max-height: 50px;
        img{
            object-fit: cover;
        }
    }
}