<ion-item-sliding #slidingPlant [ngClass]="{'isFavorite': this.isFavorite, 'isRegistered': this.isRegistered}" (ionDrag)="managePlantOnDrag($event)">
  
  <!-- Left slide -->
  <ion-item-options side="start" (click)="togglePlantToRegistered()"> 

    <ng-container *ngIf="isRegistered ; else addRegistered">
      <ion-item-option  color="danger" expandable>
        <ion-icon slot="top" name="remove-circle-outline"></ion-icon> Mes plantes
      </ion-item-option>
    </ng-container>
    <ng-template  #addRegistered>
      <ion-item-option color="primary">
        <ion-icon slot="top" name="add-circle-outline"></ion-icon> <br> Mes plantes
      </ion-item-option>
    </ng-template>    
    
  </ion-item-options>  

  <!-- Content -->
 <ion-item [routerLink]="'/tabs/plants/'+ plant.id">
  <ion-thumbnail slot="start">
    <ion-img [src]="this.plant.photoUrl"></ion-img>    
  </ion-thumbnail >
  <ion-label >
    <h2>{{this.plant.name}}</h2>
    <p>{{this.plant.description}}</p>
  </ion-label>
  
  <ion-icon *ngIf="!hideFavoriteButton" name="heart-circle-outline"></ion-icon>
  </ion-item>

  <!-- Right slide -->
  <ion-item-options side="end" (click)="togglePlantToFavorite()"> 

    <ng-container *ngIf="isFavorite ; else addFavorite">
      <ion-item-option  color="danger" expandable>
        <ion-icon slot="top" name="remove-circle-outline"></ion-icon> Mes favoris
      </ion-item-option>
    </ng-container>
    <ng-template  #addFavorite>
      <ion-item-option color="primary">
        <ion-icon slot="top" name="add-circle-outline"></ion-icon> <br> Mes favoris
      </ion-item-option>
    </ng-template>    
    
  </ion-item-options>

</ion-item-sliding>
